<h2>Experience</h2>
<h3>Software Engineer, Grupo Acert (08/2022 - Present)</h3>
<ul>
  <li>Migrating legacy code.</li>
  <li>Full development of microservices.</li>
  <li>Rest development and clean code best practices.</li>
  <li>Focus on development and creation of APIs.</li>
  <li>Skills – Java 17, Maven, Spring, SQL Server, Oracle, Postgres, Docker, Firebird, GIT, Postman, Trello, Sonar.</li>
</ul>
<h3>Software Engineer, Usiminas (11/2022 - 08/2023)</h3>
<ul>
  <li>Legacy code migration.</li>
  <li>Complete development of microservices. Structuring from Back-end to Front-end.</li>
  <li>System developed in Quarkus and Ionic, and deliveries are based on sprints.</li>
  <li>Focus on development and creation/consumption of APIs.</li>
  <li>Skills – Java 17, Java 11, Java 8, Quarkus, JBoss, Maven, Spring, Angular, Ionic, TS, SQL Server, Oracle, GIT, Unit Testing, Postman, Trello, GitLab.</li>
</ul>
<h3>Software Engineer, Porto Seguro - Seguros (08/2020 - 11/2022)</h3>
<ul>
  <li>Support and maintenance of the application for brokers.</li>
  <li>Problem solving and system structure maintenance.</li>
  <li>Development and maintenance of batch processing applications.</li>
  <li>Skills – Java 8, MySql, Maven, Spring, SQL Server, Oracle, Jenkins, SOA, GIT, Unit Testing, Jira, Swagger (YAML), GitLab.</li>
</ul>
<h3>Developer, AutService - Automação (06/2020 - 08/2020)</h3>
<ul>
  <li>First experience in software development.</li>
  <li>Developed a Python bot for machine error control.</li>
  <li>Systemic project for control of parts entry/exit, pricing, and machine issue recording.</li>
  <li>Skills – Python, Java 8, Spring, Oracle, GIT.</li>
</ul>
<h3>Analyst, TV Cultura (02/2020 - 06/2020)</h3>
<ul>
  <li>Experience with hardware, networking, component replacement, and formatting.</li>
  <li>Support for all company machines.</li>
  <li>Skills – Hardware, Networks, Support.</li>
</ul>
